<%- include('./includes/head.ejs') %>
</head>
<body>
    <nav class="navbar navbar-light bg-dark">
        <a class="navbar-brand" style="color:blueviolet; font-family: 'Krona One', sans-serif;" href="#">
          <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
          RCCURLSHORTENER
        </a>
    </nav>

    <form class="container" style="margin-top: 56px;" method="POST" action="/url">
        <div class="form-group">
          <label for="exampleInputUrl" style="font-family: 'Krona One', sans-serif;
          font-family: 'Roboto Mono', monospace;">Url</label>
          <input type="url" class="form-control" id="exampleInputUrl" aria-describedby="Url link" name="url">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
          <label for="exampleInputSlug" style="font-family: 'Krona One', sans-serif;
          font-family: 'Roboto Mono', monospace;">Slug</label>
          <input type="text" class="form-control" id="exampleInputSlug" name="slug">
        </div>

        <!-- <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->

        <button type="submit" id="btnSub" class="btn btn-primary"style="background-color: black; border:none; font-family: 'Krona One', sans-serif;">Submit</button>
      </form>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<!-- <script>
    let submitBtn = document.getElementById('btnSub');

    submitBtn.addEventListener('click', (e) => {
        console.log(e);
        e.preventDefault();
    })
</script> -->
</body>
</html>